// Global Variables

// Layout
$layout-padding: 25px;

// Text
$text-font: 'Pavanam';
$text-shadow-light: 2px 2px 0px rgba(color('dark-grey'),0.25);
$text-shadow-heavy: 3px 3px 0px color('dark-teal');

// Transition
$transition-duration: 0.25s;
$transition-ease: ease-in-out;