.smarty{
    
    position: relative;
    box-sizing: border-box;
    
    button,
    input,
    select{
        -webkit-appearance: none;
    }
    
    button{
        font-size: 0.7em;
        text-transform: uppercase;
        box-sizing: border-box;
        > span.fa{
            display: inline-block;
            vertical-align: baseline;
            margin-right: 5px;
        }
    }
    
    h1, .h1,
    h2, .h2,
    h3, .h3,
    h4, .h4,
    h5, .h5,
    h6, .h6{
        display: block;
        font-weight: bold;
    }
    h1, .h1{
        font-size: 2em;
        margin: 0.67em 0;
    }
    h2, .h2{
        font-size: 1.5em;
        margin: 0.83em 0;
    }
    h3, .h3{
        font-size: 1.17em;
        margin: 1em 0;
    }
    h4, .h4{
        font-size: 1em;
        margin: 1.33em 0;
    }
    h5, .h5{
        font-size: 0.83em;
        margin: 1.67em 0;
    }
    h6, .h5{
       font-size: 0.67em;
        margin: 2.33em 0; 
    }
    
    iframe{
        border: none;
    }
    
}